<h1>Create a new budget</h1>

<%#Wrap in divs to add styling%>
<%= form_for([@user, @budget]) do |f| %>

    <% if @budget.errors.full_messages.any? %>
  <% @budget.errors.full_messages.each do |error_message| %>
    <%= error_message %> <br />
  <% end %>
<% end %>

  <%= f.label 'Budget name' %>
  <%= f.text_field :name %>
  </br>
  <%= f.label :goal_date %>
  <%= f.date_field :goal_date %>
  </br>
  <%= f.label :goal_total %>
  <%= f.text_field :goal_total %>
  </br>
  <%= f.submit "Create budget" %>
<% end %>
