<h1><%= @budget.name %></h1>
<p>
Goal amount: <%= @budget.goal_total %>
</p>

<p>
Date to save amount by: <%= @budget.goal_date %>
</p>

<p>
How much left to save: [[To be added]] 
</p>

<h3><u>Transactions</u></h3>
<p><%= link_to 'Add new transaction', new_budget_transaction_path(budget_id: @budget)  %></p>
<ul class='transactions'>
<% @transactions.each do |t| %>
  <li><%= t.note %>: <%= t.transaction_amount %> (<%= t.transaction_date %>)</li>
<% end %>
</ul>

<%= will_paginate @transactions %>
