<h1>
  <%= @user.name %>
 </h1>
 <h2>
   Budget list
 </h2>
 <p>
 <% @budgets.each do |b| %>
   <tr>
     <td><%= link_to b.name, budget_path(b.id) %></td>
     <td>Goal total: <%= b.goal_total %></td>
     <td>Goal date: <%= b.goal_date %></td>
   </tr>
   <br>
 <% end %>
 </p>
 <h2>
   <%= link_to 'Create a new budget', new_user_budget_path(user_slug: @user.slug)  %>
 </h2>
 </p>

